.gallery {
  max-width: 880px;
  min-height: 743px;
  margin: 50px 200px 0;
  display: grid;
  grid-template-columns: 282px 282px 282px;
  gap: 20px 17px;
  border-radius: 10px;
}

.gallery__photo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.gallery__trash-button {
  width: 18px;
  height: 19px;
  position: absolute;
  padding: 18px 15px 244.7px 249px;
  cursor: pointer;
  /*box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4); /* Sombra */
  transition: opacity 0.3s;
  display: block; /*Prueba de la noche*/
}

/*.gallery__photo:hover .gallery__trash-button {
  display: block; /* Solo aparece al pasar el mouse por la tarjeta si así lo deseas
}*/

/*.gallery__trash-normal {
  z-index: 1;
}

.gallery__trash-hover {
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}

.gallery__trash-normal:hover + .gallery__trash-hover {
  opacity: 1;
}

.gallery__trash-normal:hover {
  opacity: 0;
}*/

.gallery__trash-button:hover {
  opacity: 0.3;
}

/*.gallery__trash-button:active {
  opacity: 0.3; /* Casi transparente al hacer clic
  transform: scale(0.95);  (Opcional) Efecto de clic visual
}*/

.gallery__about-places {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.gallery__text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery__footer {
  width: 282px;
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
}

.gallery__name-place {
  padding-top: 25px;
  padding-left: 21px;
  padding-bottom: 31px;
  font-family: Inter;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
}

.gallery__icon {
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 31px;
  cursor: pointer;
}

.gallery__like-button-on {
  display: none;
}

@media screen and (min-width: 581px) and (max-width: 900px) {
  .gallery {
    width: 581px;
    display: grid;
    grid-template-columns: 282px 282px;
    margin: 0 auto;
    padding-top: 260px;
  }
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    width: 282px;
    margin: 0 auto;
    padding-top: 260px;
    gap: 20px;
  }
}
